.editorconfig	text	eol=lf
.gitattributes	text	eol=lf
.gitignore	text	eol=lf

*.pdf	binary
# Declare files that will always have LF line endings on checkout.
*.md	text	eol=lf
*.py	text	eol=lf
*.sh	text	eol=lf
*.txt	text	eol=lf
